<div style="margin-bottom:20px;text-transform:none;font-size:14px;">
	Welcome to
	<span style="color:red;">M</span>
	<span style="color:orange;margin-left:-14px;">u</span>
	<span style="color:yellow;margin-left:-14px;">B</span>
	<span style="color:green;margin-left:-14px;">O</span>
	<span style="color:blue;margin-left:-14px;">I</span>
	<span style="color:violet;margin-left:-14px;">D</span>.COM
</div>

<div class="alert alert-danger" role="alert" ng-show="errMsg">
	{{errMsg}}
</div>

<div ng-show="createDetail && !joinDetail" ng-init="$parent.guestPerm = {}">
	<div>
		<span class="col-xs-6 no-padding">Song duration</span>
		<span style="color:#ec971f;">{{duration}}</span>
	</div>
	<div>
		<input id="duration" type="text"
					 data-slider-id='durationSlider'
					 data-slider-min="0"
					 data-slider-max="135"
					 data-slider-step="15"
					 data-slider-value="[30,90]"/>
		<button type="button" class="btn btn-primary btn-sub"
						style="width:50px;"
						ng-click="changeDuration([0,135])">MAX</button>
	</div>

	<div>
		<span class="col-xs-6 no-padding">Guests can add songs</span>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" ng-model="$parent.guestPerm.addSong" ng-value="true" checked>
			<label class="form-check-label">Yes</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" ng-model="$parent.guestPerm.addSong" ng-value="false">
			<label class="form-check-label" >No</label>
		</div>
	</div>

	<div>
		<span class="col-xs-6 no-padding">Guests can sort songs</span>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" ng-model="$parent.guestPerm.sortSong" ng-value="true" checked>
			<label class="form-check-label">Yes</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" ng-model="$parent.guestPerm.sortSong" ng-value="false">
			<label class="form-check-label" >No</label>
		</div>
	</div>

	<div>
		<span class="col-xs-6 no-padding">Pick your playlist</span>
		<button type="button" class="btn btn-primary btn-sub" style="width:75px;"
						ng-click="manage($parent.username)">
			MANAGE
		</button>
	</div>
	<div>
		<ul class="list-group">
			<li class="list-group-item active"
					ng-click="getPlaylistId(playlist.id,$event,true)">Random songs</li>
			<li class="list-group-item"
					ng-repeat="playlist in playlists"
					playlistId="{{playlist.id}}"
					ng-click="getPlaylistId(playlist.id,$event)">
				{{playlist.snippet.title}}
			</li>
			<li class="list-group-item">
				<input type="text" style="width:100%;border:0;"
							 placeholder="Search playlist"
							 ng-model="qPlaylist">
			</li>
			<li class="list-group-item"
					ng-repeat="playlist in searchedPlaylist"
					ng-click="searchedPlaylistClicked(playlist)">
				{{playlist.snippet.title}}
			</li>
		</ul>
	</div>
</div>

<div ng-hide="joinDetail">
	<button ng-show="!joinDetail && createDetail"
					type="button" class="btn btn-default"
					ng-click="back()">BACK</button>
	<button type="button" class="btn btn-primary"
					ng-click="start()">START</button>
</div>


<div ng-show="joinDetail && !createDetail" id="joinDetail">
	<div>
		<input class="col-xs-6" class="form-control" type="number"
					 placeholder="Room #"
					 ng-model="joinRoomName">
	</div>
</div>

<div ng-hide="createDetail">
	<button ng-show="joinDetail && !createDetail"
					type="button" class="btn btn-default"
					ng-click="back()">BACK</button>
	<button type="button" class="btn btn-primary"
					ng-click="join(joinRoomName)">JOIN</button>
</div>