<div>
	Welcome!
</div>

<div class="alert alert-danger" role="alert" ng-show="errMsg">
	{{errMsg}}
</div>

<div ng-hide="joinDetail">
	<button type="button" class="btn btn-primary"
					ng-click="createDetail = true">Start</button>
</div>

<div ng-show="createDetail && !joinDetail" class="submenu">
	<div>
		1. Duration of each song : {{duration}}
	</div>
	<div>
		<input id="duration" data-slider-id='durationSlider' type="text" data-slider-min="15" data-slider-max="135" data-slider-step="15" data-slider-value="60"/>
		<button type="button" class="btn btn-info" ng-click="changeDuration(135)">Max</button>
	</div>
</div>

<div ng-show="createDetail && duration !== undefined" class="submenu" style="margin-bottom:20px;">
	<div>
		2. Pick your songs.
	</div>
	<div>
		<button type="button" class="btn btn-info" ng-click="random()">Random Songs</button>
	</div>
	<div>
		<button type="button" class="btn btn-info" ng-click="getPlaylists()">From YouTube Playlist</button>
		<div class="subsubmenu">
			<div ng-repeat="playlist in playlists" >
				<button type="button" class="btn btn-success" ng-click="getPlaylist(playlist.id)">
					{{playlist.snippet.title}}
				</button>
			</div>
		</div>
	</div>
</div>

<div ng-show="joinDetail && !createDetail" id="joinDetail">
	<div>
		<input class="col-xs-6" class="form-control" type="text"
					 placeholder="Room #"
					 ng-model="joinRoomName">
	</div>
	<div>
		<input class="col-xs-6" class="form-control" type="text"
					 placeholder="Your Name"
					 ng-model="username">
	</div>
</div>

<div ng-hide="createDetail">
	<button type="button" class="btn btn-primary"
					ng-click="join(joinRoomName)">Join</button>
</div>