welcome{
	overflow-x:auto;
	flex-flow:column;
	margin-bottom:25px;
}

welcome div{
	margin-bottom:10px;
}

welcome .subsubmenu{
	margin-top:10px;
	margin-left:40px;
}

welcome #durationSlider .slider-handle{
	background-image:-webkit-linear-gradient(top,#5bc0de 0,#46b8da 100%)
}

welcome #durationSlider{
	margin-bottom:0px;
	width:295px;
	margin-right:12px;
}

welcome #joinDetail, welcome #joinDetail div{
	float:left;
	width:100%;
}

welcome input{
	color:black;
}

welcome .btn-primary{
	width:150px;
}

welcome .btn-sub{
	padding:2px;
}

welcome .list-group-item{
	color:black;
	cursor:pointer;
}

welcome .no-padding{
	padding-left:0px !important;
	padding-bottom:6px;
}