welcome div{
	margin-bottom:10px;
}

welcome .submenu{
	margin-left:20px;
}

welcome .subsubmenu{
	margin-top:10px;
	margin-left:40px;
}

welcome #durationSlider .slider-handle{
	background-image:-webkit-linear-gradient(top,#5bc0de 0,#46b8da 100%)
}

welcome #durationSlider{
	margin-bottom:0px;
}

welcome #joinDetail, welcome #joinDetail div{
	float:left;
	width:100%;
}

welcome #joinDetail input{
	color:black;
}

welcome .btn-primary{
	width:150px;
}