<div>
	Welcome!
</div>
<div class="alert alert-danger" role="alert" ng-show="errMsg">
	{{errMsg}}
</div>
<div>
	<button type="button" class="btn btn-primary" ng-click="createDetail = true">Start</button>
</div>

<div ng-show="createDetail" class="submenu">
	<div>
		1. Duration of each song : {{duration}}
	</div>
	<div>
		<input id="duration" data-slider-id='durationSlider' type="text" data-slider-min="15" data-slider-max="135" data-slider-step="15" data-slider-value="60"/>
		<button type="button" class="btn btn-info" ng-click="changeDuration(135)">Max</button>
	</div>
</div>

<div ng-show="createDetail && duration !== undefined" class="submenu" style="margin-bottom:20px;">
	<div>
		2. Pick your songs.
	</div>
	<div>
		<button type="button" class="btn btn-info" ng-click="random()">Random Songs</button>
	</div>
	<div>
		<button type="button" class="btn btn-info" ng-click="getPlaylists()">From YouTube Playlist</button>
		<div class="subsubmenu">
			<div ng-repeat="playlist in playlists" >
				<button type="button" class="btn btn-success" ng-click="getPlaylist(playlist.id)">
					{{playlist.snippet.title}}
				</button>
			</div>
		</div>
	</div>
</div>

<div>
	... or ...
</div>
<div>
	<div class="col-xs-3" style="padding-left:0;">
		<input class="form-control" id="ex2" type="text" ng-model="joinRoomName">
	</div>
	<button type="button" class="btn btn-primary" ng-click="join(joinRoomName)">Join</button>
</div>