<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112484113-1"></script>
		<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112484113-1');
		</script>

		<title>MuBOID</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		      crossorigin="anonymous" />

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		      rel="stylesheet">
		<link href="https://code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css"
		      rel="stylesheet">
		<link rel="stylesheet" href="/third-party/bootstrap-slider/css/bootstrap-slider.min.css" />
		<link rel="stylesheet" href="/third-party/chardin/chardinjs.css" />

		<link rel='stylesheet' href='/footer/footer.css' />
		<link rel='stylesheet' href='/welcome/welcome.css' />
		<link rel='stylesheet' href='/youtube/youtube.css' />
		<link rel='stylesheet' href='/clock/clock.css' />
		<link rel='stylesheet' href='/playlist/playlist.css' />
		<link rel='stylesheet' href='/app.css' />

		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		        crossorigin="anonymous"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="/third-party/bootstrap-slider/bootstrap-slider.min.js"></script>
		<script src="/third-party/chardin/chardinjs.min.js"></script>

		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="586555634098-j5ul1cm0c5bj7vo87d8u5volijrneh40.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>

		<script src="/third-party/socket.io/socket.io.slim.js"></script>
		<script src="/third-party/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>

		<script src="api-key.js"></script>
		<script src="const.js"></script>
		<script src="/welcome/welcome.js"></script>
		<script src="/youtube/youtube.js"></script>
		<script src="/playlist/playlist.js"></script>
		<script src="/clock/clock.js"></script>
		<script src="/footer/footer.js"></script>
	</head>
	<body ng-app="MuBoidApp" ng-controller="MuBoidCtrl">

		<button type="button" class="btn btn-primary sign-action" id="authorize-button" style="display: none;">SIGN IN</button>
		<button type="button" class="btn btn-primary sign-action" id="signout-button" style="display: none;">SIGN OUT</button>

		<div id="main">
			<div ng-show="wait">Loading ...</div>
			<welcome ng-hide="go || wait || guest || playlistReview"></welcome>
			<div id="gameover" ng-show="gameover">GAME OVER</div>

			<div id="go" ng-show="roomName && !gameover && isAdmin">
				<div id="headerBackground"></div>
				<div id="header" class="accent20" ng-hide="fireStarted && !fire">
					<clock minutes="{{minutes}}" seconds="{{seconds}}"></clock>
					<div id="joinInfo">
						<span style="color:red;">M</span>
						<span style="color:orange;margin-left:-14px;">u</span>
						<span style="color:yellow;margin-left:-14px;">B</span>
						<span style="color:green;margin-left:-14px;">O</span>
						<span style="color:#118AB2;margin-left:-14px;">I</span>
						<span style="color:violet;margin-left:-14px;">D</span>.COM
						JOIN @ <span id="code"
												style="color:#31b0d5"
												data-intro="Others can join this room using this code."
												data-position="right">{{roomName}}</span>
					</div>
				</div>
				<div id="container" class="accent20" ng-show="fire">
					<youtube-player id="player1" video-id="{{videoId1}}" playing="{{playing1}}"></youtube-player>
					<youtube-player id="player2" video-id="{{videoId2}}" playing="{{playing2}}"></youtube-player>
				</div>
			</div>

			<playlist playlist-id="{{playlistId}}" ng-show="!wait && !gameover && playlist.length > 0">
			</playlist>
		</div>

		<footer></footer>

		<div class="sidebar">
			<div>
				<a href="https://github.com/danielkim85/muboid" target="_blank">
					Github Repo
				</a>
			</div>
		</div>

		<script>
	    var tag = document.createElement('script');
	    tag.src = "https://www.youtube.com/iframe_api";
	    var firstScriptTag = document.getElementsByTagName('script')[0];
	    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		</script>

		<script src="/app.js"></script>
	</body>
</html>
