<!DOCTYPE html>
<html>
	<head>
		<title>MUBOID::POWERHOUR</title>
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		      crossorigin="anonymous" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		      rel="stylesheet">
		<link rel='stylesheet' href='/third-party/bootstrap-slider.min.css' />

		<link rel='stylesheet' href='/footer/footer.css' />
		<link rel='stylesheet' href='/welcome/welcome.css' />
		<link rel='stylesheet' href='/youtube/youtube.css' />
		<link rel='stylesheet' href='/clock/clock.css' />
		<link rel='stylesheet' href='/playlist/playlist.css' />
		<link rel='stylesheet' href='/app.css' />

		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		        crossorigin="anonymous"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="/third-party//bootstrap-slider.min.js"></script>
		<!--
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		        crossorigin="anonymous"></script>
	-->
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="586555634098-j5ul1cm0c5bj7vo87d8u5volijrneh40.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>

		<script src="/third-party/socket.io.js"></script>

		<script src="const.js"></script>
		<script src="/welcome/welcome.js"></script>
		<script src="/youtube/youtube.js"></script>
		<script src="/playlist/playlist.js"></script>
		<script src="/clock/clock.js"></script>
		<script src="/footer/footer.js"></script>
	</head>
	<body ng-app="MuBoidApp" ng-controller="MuBoidCtrl">

		<button ng-hide="guest" type="button" class="btn btn-primary sign-action" id="authorize-button" style="display: none;">Sign in</button>
		<button ng-hide="guest" type="button" class="btn btn-primary sign-action" id="signout-button" style="display: none;">Sign Out</button>

		<div id="main">
			<div ng-show="wait">Loading ...</div>
			<welcome ng-hide="go || wait || guest || playlistReview"></welcome>
			<div id="gameover" ng-show="gameover">GAME OVER</div>
			<div id="go" ng-show="roomName && !gameover && !guest">
				<div id="header">
					<clock minutes="{{minutes}}" seconds="{{seconds}}"></clock>
					<div id="joinInfo">
						Join : {{roomName}}
					</div>
				</div>
				<div id="container">
					<youtube-player id="player1" video-id="{{videoId1}}" playing="{{playing1}}"></youtube-player>
					<youtube-player id="player2" video-id="{{videoId2}}" playing="{{playing2}}"></youtube-player>
				</div>
			</div>
			<playlist playlist-id="{{playlistId}}" ng-show="!gameover && playlist.length > 0"></playlist>
		</div>

		<footer ng-hide="guest"></footer>

		<script>
	    var tag = document.createElement('script');
	    tag.src = "https://www.youtube.com/iframe_api";
	    var firstScriptTag = document.getElementsByTagName('script')[0];
	    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		</script>

		<script src="/app.js"></script>
	</body>
</html>
