<!DOCTYPE html>
<html>
	<head>
		<title>MUBOID::POWERHOUR</title>
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		      crossorigin="anonymous" />
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		        crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		        crossorigin="anonymous"></script>

		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="586555634098-j5ul1cm0c5bj7vo87d8u5volijrneh40.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>

		<script src="/javascripts/youtube.js"></script>
		<script src="/javascripts/clock.js"></script>
	</head>
	<body ng-app="MuBoidApp" ng-controller="MuBoidCtrl">
	<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
	<script>
    function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      /*
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());
			*/
      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      //console.log("ID Token: " + id_token);
    };
	</script>

	<div id="header">
		<clock minutes="{{minutes}}" seconds="{{seconds}}"></clock>
	</div>
	<div id="container">
		<youtube-player id="player1" video-id="{{videoId1}}" playing="{{playing1}}"></youtube-player>
		<youtube-player id="player2" video-id="{{videoId2}}" playing="{{playing2}}"></youtube-player>
	</div>

	<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	</script>
	<script src="/javascripts/app.js"></script>
	</body>
</html>
