html,
body {
	height: 100%;
	background-color: #333;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
}

#container youtube-player{
	position:absolute;
}

#header, #container{
	width:100%;
	float:left;
}

#clock{
	float:left;
	font-size:40px;
	margin:10px;
}
.g-signin2{
	position:absolute;
	bottom:0;
	right:0;
}