html, body {
	background-color: #323232;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	height:100%;
}

#main{
	background-color: #4c4c4c;
	margin:auto;
	padding:10px;
	height:100%;
	width:660px;
}

#header, #container{
	width:100%;
	float:left;
	font-size:20px;
}

#header{
	margin-bottom:10px;
}

#container{
	margin-bottom:370px;
}

#go{
	display:flex;
	flex-flow:column;
	height:100%;
}

#joinInfo{
	float:right;
}

.sign-action{
	position:absolute;
	bottom:1px;
	right:0px;
	z-index:1
}