html, body {
	background-color: #323232;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	height:100%;
}

body{
	background: url("images/background.jpg");
}

#main{
	background-color: rgba(0, 0, 0, 0.5);
	margin:auto;
	padding:20px;
	height:100%;
	width:680px;
	display: flex;
	flex-flow: column;
}

#header, #container{
	width:100%;
	float:left;
	font-size:20px;
}

#headerBackground{
	width:100%;
	position:absolute;
	z-index:99;
	opacity:0.5;
	display:none;
	height:85px;
}
#header{
	margin-bottom:10px;
}

#container{
	margin-bottom:370px;
}

#joinInfo{
	float:right;
}

.sign-action{
	position:absolute;
	bottom:1px;
	right:0;
	z-index:1
}

#wallpaper{
	position: absolute;
	right: 5px;
	color: white;
	top: 5px;
	font-size: 10px;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	#main{
		width:100%;
	}
	#wallpaper{
		display:none;
	}
	.col-xs-6{
		width:100%;
	}
}