html, body {
	height: 100%;
	background-color: #333;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
}

#main{
	margin:10px;
	width:640px;
}

#header, #container{
	width:100%;
	float:left;
	font-size:20px;
}

#header{
	margin-bottom:10px;
}

#clock{
	float:left;
}

#joinInfo{
	float:right;
}

.g-signin2{
	position:absolute;
	bottom:0px;
	right:0px;
}