<div id="info" class="accent20">
	<div ng-show="$parent.fireStarted" id="nowPlayingContainer">
		<div style="margin-bottom:10px;">
			NOW PLAYING
			<span class="like">
				<i class="material-icons"
					 ng-class="{ 'inactive': expression.songId === $parent.playlist[0].id && expression.liked }"
					 ng-click="likeSong($event,true)">thumb_up</i>
				<span style="margin-left:-10px;">
					{{$parent.playlist[0].likes.length}}
				</span>
			</span>
			<span class="hate">
				<i class="material-icons"
					 ng-class="{ 'inactive': expression.songId === $parent.playlist[0].id && !expression.liked }"
					 ng-click="likeSong($event,false)">thumb_down</i>
				<span style="margin-left:-10px;">
					{{$parent.playlist[0].hates.length}}
				</span>
			</span>
		</div>
		<div id="nowPlaying" class="accent10">
			{{$parent.playlist[0].title}}
		</div>
	</div>
	<div>
		<span class="glyphicon glyphicon-lock" ng-show="$parent.isRoomLocked"></span>
		PLAYLIST
		<div class="playlist-action" ng-hide="$parent.roomName|| $parent.guest">
			<button type="button" class="btn btn-danger" ng-click="start()">START</button>
			<button type="button"
							ng-show="$parent.playlistId !== undefined"
							class="btn btn-primary"
							ng-click="refresh(playlistId)">REFRESH</button>
			<button type="button"
							ng-show="$parent.playlistId !== undefined"
							class="btn btn-primary"
							ng-click="manage()">
				MANAGE
			</button>
		</div>

		<div class="playlist-action" ng-show="$parent.roomName">
			<button type="button"
							class="btn btn-primary"
							ng-show="$parent.isAdmin && !$parent.fireStarted && !$parent.fire"
							data-intro="Start playing the songs!"
							data-position="left"
							ng-click="$parent.start()">
				START
			</button>
			<button type="button"
					class="btn btn-danger"
					data-intro="Lock the playlist so nobody can change the playlist."
					data-position="bottom"
					ng-show="$parent.isAdmin"
					ng-click="lock($parent.isRoomLocked)">
				<span ng-if="!$parent.isRoomLocked">
					LOCK
				</span>
				<span ng-if="$parent.isRoomLocked">
					UNLOCK
				</span>
			</button>
		</div>
	</div>
</div>

<div id="search" ng-hide="(!$parent.isAdmin && $parent.guest && !$parent.guestPerm.addSong) ||
													($parent.isRoomLocked && !$parent.isAdmin && $parent.guest)">
	<input type="text"
				 class="form-control accent10" ng-model="searchTerm"
				 data-intro="Add songs by searching."
				 data-position="bottom"
				 placeholder="Search and add">
</div>

<div id="searchResult" ng-show="searchResult.length > 0">
	<div class="song" ng-repeat="song in searchResult" ng-click="queue(song)">
		<div videoId = {{song.id}}>
			{{song.title}}
		</div>
		<hr />
	</div>
</div>

<div id="songContainer" ng-show="searchResult.length == 0">

	<div ng-repeat="song in $parent.history track by $index"
			 class="locked history">
		<div class="titleContainer inactive"
				 videoId = {{song.id}}
				 songOwner = {{song.owner}}>
			<i class="material-icons like accent12"
				 ng-show="song.likes.indexOf($parent.$parent.user.socketId) !== -1">thumb_up</i>
			<i class="material-icons hate accent12"
				 ng-show="song.hates.indexOf($parent.$parent.user.socketId) !== -1">thumb_down</i>
			<span class="like" ng-show="song.likes.length > 0">
				{{song.likes.length}}
			</span>
			<span class="hate" ng-show="song.hates.length > 0">
				{{song.hates.length}}
			</span>
			<span class="title">
				{{song.title}}
			</span>
			<span class="owner" ng-show="song.owner.name">
				- added by {{song.owner.name}}
			</span>
			</button>
		</div>
		<hr />
	</div>

	<div ng-repeat="song in $parent.playlist track by $index"
			 ng-class="{locked: $parent.$parent.fireStarted && $index <= 1,song:true,}">
		<div class="titleContainer"
				 videoId = {{song.id}}
				 songOwner = {{song.owner}}
		 		 ng-hide="$index == 0 && $parent.$parent.fireStarted">
			<span class="glyphicon glyphicon-lock"
						ng-show="$parent.$parent.fireStarted && $index <= 1 || $parent.$parent.isRoomLocked"></span>
			<i class="material-icons handle"
			   ng-show="!$parent.$parent.isRoomLocked && $first"
			   data-intro="Drag this to change the order."
			   data-position="bottom"
			   style="font-size:12px;">sort</i>
			<i class="material-icons handle"
			   ng-show="!$parent.$parent.isRoomLocked && !$first"
			   style="font-size:12px;">sort</i>
			<i class="material-icons"
				 style="color:rgb(217, 83, 79);font-size:12px;"
				 ng-click="remove($index)"
				 ng-show="($parent.$parent.isAdmin ||
									!$parent.$parent.guest ||
									(song.owner.socketId === $parent.$parent.user.socketId && !$parent.$parent.isRoomLocked)) &&
									!($parent.$parent.fireStarted && $index <= 1)">
				delete_forever</i>
			<a title="Open this song in YouTube" href="https://www.youtube.com/watch?v={{song.id}}" target="_blank">
				{{$index}}
			</a>
			<span class="title">
				{{song.title}}
			</span>
			<span class="owner" ng-show="song.owner.name">
				- added by {{song.owner.name}}
			</span>
			<hr />
		</div>
	</div>
</div>

